@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');



*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#lista-de-pokemons{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
    position: relative;    
}

.pokemon{
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    padding: 20px;
    margin: 10px;
    text-align: center;
    widows: 400px;
}

.pokemon:hover{
    animation: bounce 0.5s linear;
    cursor: pointer;
    background-size: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 95px 310px;
}

@keyframes bounce{
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-2px);
    }
    80%{
        transform: translateY(-0px);
    }
    
}


.pokemon .container-foto-pokemon{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    text-align: center;
}
.pokemon .container-foto-pokemon img{
    margin-top: 40px;
    max-width: 160px;
    position: relative;
    justify-content: center;
}

.pokemon .fundo{
    margin-top: 40px;
}
.pokemon .fundo img{
    max-width: 100px;
    top: 10%;
    position: relative;
}

.pokemon .informacoes-pokemon{
    margin-top: 20px;
    margin-bottom: 20px;
}
.pokemon .informacoes-pokemon h3{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.pokemon .numero-pokemon{
    background: #fff;
    border-radius: 10px;
    font-size: 1em;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
}

.pokemon .tipo-pokemon {
    margin: 15px 0 7px;
    letter-spacing: 1px;
    border: 2px solid #000000;
}

.cor-badge{
    font-family: 'Roboto', sans-serif;
    border:2px black solid;
    padding: 20px;
    box-shadow: 0 3px 5px rgba(100, 100, 100, 0.5);
}
.titulopok{
    text-transform: capitalize;
}
.popup{
    background-color: #eee;
    top:0;
    left: 0;
    height: 100vh;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    width: 100vw;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.pesquisa{
    margin-top: 50%;
}

.popup .informacoes-pokemon {
    padding: 50px;
}
.popup .container-foto-pokemon{
    padding: 40px;
    background: #fff;
    border-radius: 50%;
    left: 10%;
    
}

.popup .container-foto-pokemon img {
    max-width: 300px;
    top: 10%;
    position: relative;
}

.popup .informacoes-pokemon .tipo-pokemon{
    margin: 15px 0 7px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.popup .informacoes-pokemon .numero-pokemon{
    background: #fff;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
}

.popup .informacoes-pokemon .altura-pokemon{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.popup .informacoes-pokemon .peso-pokemon{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}
.popup .informacoes-pokemon .nome-pokemon{
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    text-align: center;
}
#fecharBTN{
    width: 140px;
    height: 50px;
    top: -40%;
    right: 5%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

#fecharBTN:hover{
    cursor: pointer;
    
}

#barra-pesquisa{
    margin-top: 20px;
    margin-bottom: 20px;
}

#caixa-pesquisa{
    width: 100vh;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}

#botao-pesquisa{
    width: 200px;
    height: 103px;
    border-radius:10px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    font-size: 1.4rem;
    font-family: 'Open sans', sans-serif;
    
}

#botao-pesquisa:hover{
    font-weight: bold;
    cursor: pointer;
}

.hidden{
    display: none;
}


.img-aviso img{
    top: 350px;
    margin: 0px;
    position: absolute;
    right:25%;

}

.img-aviso h1{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: uppercase;
    font-size: 2rem;
}

.img-carrega img{
    margin: 0px;
    position: relative;
}

#barra-pesquisa{
    margin: 0;
    padding-bottom: 20px;
}

.carregarPokes{
    opacity: 0;
    display: flex;
    position: relative;
    bottom: 5px;
    padding: 20px;
    margin-bottom: 30px;
    transition: opacity 0.3s ease-in;
}

.carregarPokes.mostrar{
    opacity: 1;
}


.carregarPokes .circulo{
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 45%;
    margin: 5px;
    animation: ancirculo 0.5s ease-in infinite;
}

.carregarPokes .circulo:nth-of-type(2){
    animation-delay: 0.1s;
}

.carregarPokes .circulo:nth-of-type(3){
    animation-delay: 0.2s;
}




@keyframes ancirculo {
    0%, 
    100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

@keyframes zoom{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

.imglogo:hover{
    animation: zoom 1s linear;
    cursor: pointer;
}

.hab{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.pokeinfo{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.pokemonn{
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    padding: 20px;
    margin: 10px;
    text-align: center;
    widows: 400px;
}

.pokemonn:hover{
    animation: bounce 0.5s linear;
    cursor: pointer;
    background-size: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 95px 310px;
}



.pokemonn .container-foto-pokemonn{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    text-align: center;
}
.pokemonn .container-foto-pokemonn img{
    margin-top: 40px;
    max-width: 160px;
    position: relative;
    justify-content: center;
}

.pokemonn .fundon{
    margin-top: 40px;
}
.pokemonn .fundon img{
    max-width: 100px;
    top: 10%;
    position: relative;
}

.pokemonn .informacoes-pokemonn{
    margin-top: 20px;
}
.pokemonn .informacoes-pokemonn h3{
    font-family: 'Roboto', sans-serif;
}
.pokemonn .numero-pokemonn{
    background: #fff;
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
}

.pokemonn .tipo-pokemonn {
    letter-spacing: 1px;
}
.titulopokn{
    text-transform: capitalize;
}